.grid-container {
	display: grid;
	height: 100vh;
	width: 100vw;
	display: flex;
	font-family: Raleway;
	margin: 0;
	padding: 0;
}

.body {
	padding: 0;
}

.grid-item-1 {
	background-color: #AEC6CF;
	height: 100vh;
	width: 20vw;
	padding: 0;
}

.grid-item-2 {
	background-color: #FAF1D6;
	height: 100vh;
	width: 60vw;
	padding: 0;
}

.grid-item-3 {
	background-color: #AEC6CF;
	height: 100vh;
	width: 20vw;
	padding: 0;
}

.grid-item-4 {
	background-color: #AEC6CF;
	height: 100vh;
	width: 50vw;
	margin: 0
	padding: 0;
}

.grid-item-5 {
	background-color: #FAF1D6;
	height: 100vh;
	width: 50vw;
	padding: 0;
}

.rotate90 {
	transform: rotate(90deg);
}

.art-item1 {
	margin-top: 20vh;
	margin-right: 150px;
	margin-left: 110px;
}

.art-item2 {
	position: fixed;
	bottom: 25vh;
	right: 56vw;
	width: 36%;

}

.art-item3 {
	position: fixed;
	bottom: 25vh;
	right: 10vw;
	width: 36%;

}

.grid-detail-image {
	height: 100vh;
	width: 70vw;
	padding: 0;
}

.detail-image {
	margin-top: 5%;	
	margin-left: 10%;
}

.grid-detail-description {
	height: 100vh;
	width: 40vw;
	padding: 0;
}

.allie_a {
	position: fixed;
	width: 1.8%;
	bottom: 2.1vh;
	right: 6vw;
}

.social_insta {
	position: fixed;
	width: 2%;
	bottom: 2vh;
	right: 2vw;
}

.arrow-right {
	width: 30px;
	cursor: pointer;
	position: fixed;
	bottom: 50vh;
	right: .2vw;
}

.arrow-right:hover {
	cursor: pointer;
	position: fixed;
	bottom: 50vh;
	right: 0vw;
}

.arrow-left {
	width: 30px;
	cursor: pointer;
	position: fixed;
	bottom: 50vh;
	left: .2vw;
	transform: rotate(180deg);
}

.arrow-left:hover {
	cursor: pointer;
	position: fixed;
	bottom: 50vh;
	transform: rotate(180deg);
	left: 0vw;
}

.detail-description {
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 10%;
}